<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.projectnameback.mapper.TestMapper">
    <select id="getTest" parameterType="java.lang.String" resultType="com.example.projectnameback.pojo.Test">
        select  * from test where test = #{test}
    </select>
</mapper>
